<% provide(:title, 'Woktop - Organize all of your online files') %>
<div class="container_12">
	<h1 id="title">About<span class="green">Us</span></h1>
	<p class="aligncenter">Welcome to <b>wok<span class="green">top</span></b>, we're glad to see you.</p>
	<div class="grid_12">
		<h2>What is Woktop?</h2>
		<p>Simply put, Woktop is a <a href="http://en.wikipedia.org/wiki/Freemium" target="_blank">"freemium"</a> web application that manages all of your online files.  Whether those files reside in Dropbox, Google Drive (coming soon), SugarSync (coming soon), or Box.net (coming soon), you can have all your accounts in one place without ever having to sign in and out again.  For all you Doctor Who fans out there, it's pretty like the sonic screwdriver of online file storage.</p>
		<h2>Freemium, pourquoi?</h2>
		<p>Because I put a shit ton of time into making this thing for you.  I wanted to offer this for free so people could use and enjoy this service without having to spend a pretty penny, but I also gotta pay bills too.  There always will be a free version of Woktop, but if you want to add more accounts, that's going to be a little extra.</p>
		<h2>I'm getting some problems, help me!</h2>
		<p>Sorry, all I can do is <a href="mailto:me@patrickcason.com">email support</a> right now.</p>
		<h2>I've got a feature request, ya dig?</h2>
		<p>I totally dig, same instructions as above apply.</p>
		<h2>Who are you?</h2>
		<p>Allow me to introduce myself, my name is <a href="http://www.patrickcason.com" target="_blank">Patrick Cason</a>.  I'm a freelance web developer and designer living in Nashville, TN.  I like making web applications, perhaps a little too much... check out my website for more!</p>
		<h2>Can I donate?</h2>
		<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6TGRAF3RLECQ4" target="_blank">Hell ****ing yes you can donate.</a></p>
		<h2>Legal Crap</h2>
		<ul>
			<li>Ye olde <%= link_to "Terms of Service", terms_url %></li>
			<li>Ye olde <%= link_to "Privacy Policy", policy_url %></li>
		</ul>
		<p class="aligncenter"><%= link_to "Let's go back home...", root_url %></p>
	</div>
</div>