<% provide(:title, 'Woktop - About') %>
<div class="row">
	<div class="hero">
		<h1 class="subheader text-center">Welcome to <b><span class="black">Wok</span><span class="green">top</span></b>, we're so glad to see you.</h1>
	</div>
	<div class="large-12 small-12 columns">
		<h3>What is Woktop?</h3>
		<p>Simply put, Woktop is a <a href="http://en.wikipedia.org/wiki/Freemium" target="_blank">"freemium"</a> web application that manages all of your online files.  Whether those files reside in Dropbox, Google Drive (coming soon), SugarSync (coming soon), or Box.net (coming soon), you can have all your accounts in one place without ever having to sign in and out again.  For all you Doctor Who fans out there, it's pretty like the sonic screwdriver of online file storage.</p>
		<h3>Freemium, pourquoi?</h3>
		<p>Because we put a shit ton of time into making this thing.  We wanted to offer this for free so people could use and enjoy this service without having to spend a pretty penny, but we also got bills to pay.  There <b>always</b> will be a free version of Woktop, but if you want to add more accounts, that's going to be a little extra.</p>
		<h3>What's the name mean?</h3>
		<p>Beats me man... <a href="http://en.wikipedia.org/wiki/Cybersquatting" target="_blank">domain squatting</a> sucks, so we ended up with this.  Let's just call it a wok of all your files, just like on your desktop: <b><span class="black">Wok</span><span class="green">top</span></b>.</p>
		<h3>I'm getting some problems, help me!</h3>
		<p>Sorry, all we can do is <a href="mailto:me@patrickcason.com">email support</a> right now.</p>
		<h3>I've got a feature request, ya dig?</h3>
		<p>We totally dig, same instructions as above apply.</p>
		<h3>Who's behind all this?</h3>
		<p>Two people: <a href="https://patrickcason.com" target="_blank">Patrick Cason</a> and <a href="https://github.com/carrollgt91" target="_blank">Grayson Carroll</a>.</p>
		<h3>Can I donate?</h3>
		<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6TGRAF3RLECQ4" target="_blank">Hell ****ing yes you can donate.</a></p>
	</div>
</div>