<% provide(:title, 'Woktop - Organize all of your online files') %>
<div class="row">
	<div class="hero">
		<h1 class="roboto text-center text-super-large"><span class="black">Wok</span><span class="green">top</span></h1>
		<h2 class="text-center subheader">The easy way to manage all your online file accounts.</h2>
	</div>
	<div class="large-12 small-12 columns">
		
	</div>
</div>