/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.infiniteLoader {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	background: url(loader.gif);
	display: none;
	z-index: 100;
}

.fileAccount { margin-bottom: 20px; overflow: visible; }
.files { margin-top: 20px; }
.files .table.woktopFilesList { width: 100%; }

.files .table.woktopFilesList td { cursor: pointer; }

.files .progressBar {
	margin-top: 20px;
	border: 1px solid #EEE;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.files .dropboxTools {
	padding: 0px;
	width: 120px;
	margin-left: 30px;
	margin-top: 24px;
	float: right;
	list-style-type: none;
}

.files .dropboxTools li {
	float: left;
	margin-left: 10px;
}

.files .dropboxTools span { font-size: 1.25em; }

.table.woktopFilesList td.fileType, .table.woktopFilesList td.fileSize { width: 10%; }

.woktopFilesList .selected, .woktopFilesList .selected:hover {
	background: #444;
	color: #FFF;
	text-shadow: 0px 1px #000;
	border-bottom: 1px solid #222;
}

.woktopFilesList li.selected, .woktopFilesList li.selected:hover {
	border-bottom: none;
	border: 1px solid #222;
}

.file a { color: #000; }
.file a:hover { color: #000; text-decoration: underline; }
.file.selected a { color: #FFF; }
.file.selected a:hover { color: #FFF; }

ul.woktopFilesList {
	overflow: hidden;
	padding: 0px 10px !important;
	margin: 0px !important;
	background: #FFF;
	border: 1px solid #CCC;
}

ul.woktopFilesList li {
	height: 160px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px;
	border: 1px solid #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.1s linear all;
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	cursor: pointer;
}

ul.woktopFilesList li:hover {
	background-color: #fafafa;
}

.progressLittle {
	width: 2% !important;
	background-color: #FAFAFA !important;
}

.progressLittle span {
	color: #000 !important;
	padding-left: 5px !important;
}